.body{
    background-color: rgb(157, 85, 85);
}

.card{
    background-color: aqua;
    margin-bottom: 150px;
}

.movievedio{
    margin: auto;
 width: 100%;
 height: 100%;
}
.card-img-top{
    margin: auto;
    width: 100%;
    height: 250px;
}

.form-control{
    background-color: rgb(232, 9, 9);
    
}

.btn-danger{
    border-radius: 5px;
    width: 150px;
    margin-left: 50px;
}

.col{
    margin-top: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}